# # Supabase Postgres connection string
# DATABASE_URL="postgresql://postgres:password@db.supabase.co:5432/postgres?schema=public"

# # Direct connection for Prisma migrations/introspection (bypasses PgBouncer)
# DIRECT_URL="postgresql://postgres:password@db.supabase.co:5432/postgres"

# Supabase Postgres connection string
DATABASE_URL="postgresql://postgres:password@db.supabase.co:5432/postgres?schema=public"

# Direct connection for Prisma migrations/introspection (bypasses PgBouncer)
DIRECT_URL="postgresql://postgres:password@db.supabase.co:5432/postgres"
